.counterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(80, 80, 80, 0.3);
    width: 150px;
}

.counterBtn{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #001034;
    color: white;
}

.counterTxt{
    text-align: center;
    margin: 0;
    width: 100px;
    border: none;
}

.counterTxt:focus{
    outline: none;
}

.sinStockBtn{
    color: #c0c0c0;
    background-color: #fff;
    border: 2px solid #c0c0c0;
    cursor: default;
}

.sinStockBtn:hover{
    color: #c0c0c0;
    background-color: #fff;
}