@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo{
    width: 100px;
    height: auto;
    margin: 40px;
}

.nav{
    background-color: #001034;
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem{
    transition: all .4s ease;
    color: white;
    text-decoration: none;
}

.menuItem:hover{
    color: #f3c15a;
}

.searchForm{
    width: 400px;
}

.searchInput{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

.searchInput:focus{
    outline: none;
}

.searchButton{
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: #a4cfea;
    transition: all .4s ease;
}

.searchButton:hover{
    cursor: pointer;
    background-color: #a4cfead8;
}

.searchImg{
    width: 13px;
    height: auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100px;
    cursor: pointer;
}

nav ul li{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.subMenu{
    display: none;
}

.subMenuActive{
    position: absolute;
    top: 70px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001034;
    width: 150px;
    gap: 6px;
    padding: 12px 0;
    z-index: 1;
}